__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
lib/
include/
.venv/
venv/
PYENV_VERSION
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.cache
.pytest_cache
.mypy_cache
.coverage
.runtime
htmlcov/
.env
.venv
db.sqlite3
media
static
